<div class="about">
    <div class="aboutMe_pos">
        <img src='assets/images/3.png' alt='' class="img-responsive">
   </div>
</div>
<!--Details-->
<div class="detailInfo">
      <h3>About Me </h3>
         <div class="col-md-6 detailInfo_left">
         <p>
                Sed ac libero mattis, accumsan lacus nec, eleifend 
                tortor. Etiam sodales consequat cursus. Quisque 
                venenatis mi at nulla pulvinar lobortis. Mauris 
                vulputate odio sed dolor suscipit, a sollicitudin 
                sapien auctor. Nam aliquam tellus nibh, molestie 
                dictum ipsum lobortis in.
         </p>
        </div>
         <div class="col-md-6 detailInfo_right">
                <h4>
                        Nam vestibulum odio eu erat pulvinar pulvinar. 
                        Aliquam enim odio, scelerisque quis lacus.
                </h4>
       
                </div>
            </div>

