<!--Image-->
<div class="contact_background"> 
  <div class="contact_bground">
    <img src="assets/images/3.png" alt="" class="img-responsive">
  </div>
</div>
<!--Contactus info-->
<div class="info">
  <h3>
    Contact Me
  </h3>
  <div class="contact_about_mail">
      
    <!-- <form [formGroup]='this.AboutService.form' (ngSubmit)="onSubmit()">
    
        <input type="hidden" formControlName="$Key">
       
        
          <div class="col-md-6">
          <div class="form-group">
          <input type="text" name="name" id="name" formControlName="Name" placeholder="name"  class="form-control"  [ngClass]="{'is-invalid':submitted && formControls.name.errors}">
          <div class="inalid-feedback" *ngIf='submitted && formControls.name.errors'  >
              name is required
            </div>
        </div>
       
        <div class="form-group">
        <input type="text" name="subject" id="subject" placeholder="Subject" class="form-control" formControlName="subject" [ngClass]="{'is-invalid':submitted && formControls.subject.errors}">
        <div class="inalid-feedback" *ngIf='submitted && formControls.subject.errors'>
            subject is required
          </div> 
      </div>
    </div>
    
    
       <div class="col-md-6">
        
        <div class="form-group">
          <input type="text" name="email" id="email" placeholder="Email" formControlName="email"  class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
          <div class="inalid-feedback" *ngIf='submitted && formControls.email.errors'>
              email is required
            </div>
          </div>
          
          <div class="form-group">
          <input type="text" name="phoneNo" id="phoneNo" placeholder="phoneNo" formControlName="phoneNo" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.phoneNo.errors}">
          <div class="inalid-feedback" *ngIf='submitted && formControls.phoneNo.errors'>
              phoneNo is required
            </div>
       
       </div>
    </div>
        
    
     <div class="col-md-6 contact_about_mail_left">
        <div class="form-group">
          <textarea name="Message" placeholder="Message..." formControlName="Message" class="form-control"></textarea>
         </div>
         
        <div class="form-group">        
          <input type="submit" class="btn btn-primary" value="submit">
        </div>

      </div>
   
    </form>
    -->
  </div>

</div>